*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
 }

 .div1{
    width: 81%;
    height: 100vh;
    font-size: 20px;
    padding: 7rem 2rem;
    margin: 0 7.8rem;
  background-color: rgb(229, 233, 234);
 }

 h2{
    text-align: center;
    margin: 2rem;
 }

 h4{
    margin: 2rem;
 }

 nav ul a{
    color: black;
 }

 section{
    padding: 2rem 8.5rem;
 }

 .model{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
 }

 .model .box{
    width: 45%;
 }

 .model .box img{
    width: 70%;
 }

 .model .box h2{
    text-transform: uppercase;
    margin-bottom: 1rem;
 }
 
 .model .box span{
    color: rgb(61, 79, 85);
 }
    
 